<div class="sketch-bg">
<div class="spacer"></div>
<div class="inner-container">

<h1 class="merri"><strong><%= link_to "Sketch Book", sketches_path %></strong></h1>
<p><em>My drawings, sketches, and doodles.</em></p>

<% if user_signed_in? && current_user.editor? %>
<p><%= link_to 'New Sketch', new_sketch_path %></p>
<% end %>

<div class="small_spacer"></div>

<div class="row">
  <% @sketches.each do |sketch| %>
  <div class="col-lg-4 sketch-box">
    <div class="sketch-container">
    <div class="sketch-overlay"></div>
      <%= image_tag sketch.image.url, class: "sketch-thumb" %>
      <%= link_to "VIEW", sketch, class: "default-btn sketch-btn" %>
    </div>
  </div>
  <% end %>
</div>

<div class="text-center">
<%= will_paginate @sketches %>
</div>

</div>
<div class="spacer"></div>
</div>
