<div class="sketch-bg">
<div class="spacer"></div>
<div class="inner-container">

<h1 class="merri"><strong><%= link_to "Sketch Book", sketches_path %></strong></h1>
<p><em>My drawings, sketches, and doodles.</em></p>

<% if user_signed_in? && current_user.editor? %>
<p><%= link_to 'New Sketch', new_sketch_path %></p>
<% end %>

<div class="small_spacer"></div>

<div class="text-center">
<p>
  <%= image_tag @sketch.image.url, style: "max-width: 100%;" %>
</p>

<div class="small_spacer"></div>
<p>
  <em><%= @sketch.description %></em>
</p>
</div>

<div class="small_spacer"></div>
<% unless @sketch.next.blank? && @sketch.previous.blank? %>
<p class="text-center">
<% unless @sketch.previous.nil? %>
  <%= link_to @sketch.previous do %>
    &#8592; Previous
  <% end %>
<% end %>
  &nbsp;&nbsp;
<% unless @sketch.next.nil? %>
  <%= link_to @sketch.next do %>
    Next &rarr;
  <% end %>
<% end %>
</p>
<% end %>

<% if user_signed_in? && current_user.editor? %>
<div class="text-center">
<%= link_to 'Edit', edit_sketch_path(@sketch) %> |
<%= link_to 'Destroy', @sketch, method: :delete, data: { confirm: "Are you sure you want to delete this sketch?" } %>
</div>
<% end %>

</div>
<div class="spacer"></div>
</div>
