<div class="spacer"></div>
<div class="inner-container">

 <h2><strong>SIGN UP</strong></h2>
 <div class="tiny_spacer"></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group d_name">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group d_mail">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <% if f.object.password_required? %>
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Sign up", class: "default-btn" %>
      </div>
    <% end %>
    <div class="tiny_spacer"></div>
    <%= render "devise/shared/links" %>
  </div>
<div class="spacer"></div>
