<div class="large-8 large-centered medium-10 medium-centered columns text-left">
  <%= form_for(@article, html: { multipart: true }) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, rows: "12" %>
    </div>
    <div class="field">
      <%= f.label :featured, "Featured Image(optional)" %>
      <%= f.file_field :featured, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <% if policy(@article).is_editor? %>
      <div class="field">
        <%= f.label :published, title: "Is this article published?", data: { tooltip: true } %>
        <%= f.check_box :published %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit class: "button radius expand yellow-bg" %>
    </div>
  <% end %>
</div>
