<%= render 'articles_header' %>

<div class="services text-center">

  <%= render 'article' %>

  <%= render 'controls' %>

  <%= render 'prev_next' %>
</div>

<%= render 'layouts/callout' %>

<div class="large-8 large-centered medium-10 medium-centered columns text-left comments-form">
  <h2>Comment</h2>

  <%= render partial: 'comments/form', article: @article %>

  <% if !@article.comments.blank? %>
    <div class="comments">
      <h5><%= "#{@article.comments.count} Comments" %></h5>
      <%= render "comments" %>
    </div>
  <% end %>
</div>
