<div class="articles-header">
<div class="large_spacer"></div>
<h1><strong><%= link_to "TIPS & TUTORIALS", articles_path, style: "color: #fff;" %></strong></h1>
<em>Programming tips, tutorials, and notes.</em>
</div>

<div class="inner-container">

 <h2><strong><%= @article.title %></strong></h2>
 <div class="tiny_spacer"></div>

  <p><%= simple_format(@article.body, {}, sanitize: false).html_safe %></p>

  <div class="small_spacer"></div>
  <div class="text-center">
  <%= social_share_button_tag(@article.title) %>
  </div>

  <div class="small_spacer"></div>
  <% unless @article.next.blank? && @article.previous.blank? %>
  <p class="text-center">
    <% unless @article.previous.nil? %>
    <%= link_to @article.previous do %>
      &#8592; Previous
    <% end %>
    <% end %>
    &nbsp;&nbsp;
    <% unless @article.next.nil? %>
    <%= link_to @article.next do %>
      Next &rarr;
    <% end %>
    <% end %>
  </p>
  <% end %>

  <% if user_signed_in? && current_user.editor? %>
  <div class="text-center">
    <%= link_to 'Edit', edit_article_path(@article) %>
  &nbsp;&nbsp;
    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>

</div>
