<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p id="status">
  <b>Status:</b>
  <%= @article.published? ? "Published" : "Unpublished" %>
</p>

<p id="author">
  <b>By:</b>
  <%= @article.author.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<% if policy(@article).update? %>
  <p><%= link_to 'Edit', edit_article_path(@article) %></p>
<% end %>
<% if policy(@article).is_editor? %>
  <p><%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<%= link_to 'Back', articles_path %>
