<%= render 'articles_header' %>

<div class="services text-center">

  <h1><%= @article.title %>
    &nbsp;
    <% if !@article.published %>
      <i class="fi-lock" title="Unpublished"></i>
    <% end %>
  </h1>

  <h4 id="author">
    <%= "by #{@article.author.email} / #{@article.created_at.strftime('%b %d %Y')}" %>
  </h4>

  <div class="line"></div>

  <div class="article-body text-left">
    <%= raw sanitize(simple_format(@article.body)) %>
  </div>

  <div class="article-control">
    <% if policy(@article).update? %>
      <%= link_to 'Edit', edit_article_path(@article) %>
    <% end %>
    &nbsp;&nbsp;
    <% if policy(@article).is_editor? %>
      <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <h5 class="prev-home-next">
    <% if @article.previous %>
      <p><%= link_to "&#8592; #{@article.previous.title}".html_safe, @article.previous %></p>
    <% end %>

    <% if @article.next %>
      <p><%= link_to "#{@article.next.title} &#8594;".html_safe, @article.next %></p>
    <% end %>
  </h5>
</div>
