<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<%= image_tag "#{random_bg}", class: "jumbotron-img" %>
  <div class="container">
  <div class="billboard-text">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
  </div>
</div>

<div class="white-bg" id="portfolio">
<div class="small_spacer"></div>
<div class="container text-center">
<h2><strong>MY PROJECTS</strong></h2>
  <!-- Example row of columns -->
  <div class="row" style="margin: 0 auto;">
  <%- @projects.each do |project| %>
  <%= link_to project, remote: true do %>
    <div class="col-md-4 project-thumbnails">
    <div class="thumbnail-overlay">
    <div class="overlay-text text-center">
    <strong><%= project.technologies_used %></strong>
    </div>
    </div>
      <p><%= image_tag project.thumbnail.url, class: "thumbnail" %></p>
    </div>
    <% end %>
    <div class="project-wrapper <%= project.id %>">
    </div>
  <% end %>
  </div>
</div>
<div class="spacer"></div>
<div class="small_spacer"></div>
</div>

<div class="grey-bg" id="about">
<div class="small_spacer"></div>
<div class="container text-center">
<h2><strong>ABOUT ME</strong></h2>
<div class="small_spacer"></div>
<div class="row">
    <div class="col-lg-12">
        <%= image_tag "profile-pic.jpg", class: "profile-pic" %>
        <div class="small_spacer"></div>
        <div class="tiny_spacer"></div>
        <div class="text-container">
        <p>Hi! I'm a <strong>Full Stack Developer</strong>. I specialize in <strong>Ruby on Rails</strong>. I've also worked with <strong>WordPress</strong> and dabbled in a variety of frameworks and languages. I also draw, and have some familiarity with <strong>Photoshop</strong>.</p>

        <p>I started teaching myself <em>Web Design</em> in 2014 and switched to <em>Web Development</em> after a few months. After a year of self-study, I attended a two month programming bootcamp. I'm currently employed as a <strong>Web Developer</strong>.</p>
        </div>
    </div>
</div>
</div>
<div class="spacer"></div>
<div class="small_spacer"></div>
</div>
