<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<%= image_tag "#{random_bg}", class: "jumbotron-img" %>
  <div class="container">
  <div class="billboard-text">
    <h1><strong>HELLO, WORLD!</strong></h1>
    <p style="font-size: 20px;">I'm Amy. Welcome to my home on the web.</p>
    <div class="tiny_spacer"></div>

    <% unless Article.first.blank? %>
    <div class="main-journal">
    <p><strong>LATEST IN TIPS & TUTORIALS</strong></p>
    <p><i class="fa fa-coffee"></i>&nbsp;&nbsp;
    <em>Posted <%= time_ago_in_words(Article.first.created_at) %> ago.</em></p>
    <p><%= truncate(Article.first.body, length: 150).html_safe %></p>
    <p>
      <%= link_to Article.first, style: "color: #fff;" do %>
        Read &rarr;
      <% end %>
    </p>
    </div>
    <% end %>

  </div>
  </div>
</div>

<div class="white-bg" id="portfolio">
<div class="small_spacer"></div>
<div class="container text-center">
<h2><strong>MY PROJECTS</strong></h2>
  <!-- Example row of columns -->
  <div class="row" style="margin: 0 auto;">
  <%- @projects.each do |project| %>
  <%= link_to project, remote: true do %>
    <div class="col-md-4 project-thumbnails">
    <div class="thumbnail-overlay">
    <div class="overlay-text text-center">
    <strong><%= project.technologies_used %></strong>
    </div>
    </div>
      <p><%= image_tag project.thumbnail.url, class: "thumbnail" %></p>
    </div>
    <% end %>
    <div class="project-wrapper <%= project.id %>">
    </div>
  <% end %>
  </div>
</div>
<div class="spacer"></div>
<div class="small_spacer"></div>
</div>

<div class="grey-bg" id="about">
<div class="small_spacer"></div>
<div class="container text-center">
<h2><strong>ABOUT ME</strong></h2>
<div class="small_spacer"></div>
<div class="row">
    <div class="col-lg-12">
        <%= image_tag "profile-pic.jpg", class: "profile-pic" %>
        <div class="small_spacer"></div>
        <div class="tiny_spacer"></div>
        <div class="text-container">
        <p>Hi! I'm a <strong>Full Stack Developer</strong>. I specialize in <strong>Ruby on Rails</strong>. I've also worked with <strong>WordPress</strong> and dabbled in a variety of frameworks and languages. I also draw, and have some familiarity with <strong>Photoshop</strong>.</p>

        <p>I started teaching myself <em>Web Design</em> in 2014 and switched to <em>Web Development</em> after a few months. After a year of self-study, I attended a two month programming bootcamp. I'm currently employed as a <strong>Web Developer</strong>.</p>
        </div>
    </div>
</div>
</div>
<div class="spacer"></div>
<div class="small_spacer"></div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83617436-1', 'auto');
  ga('send', 'pageview');
  ga('send', 'event', 'click', 'link', 'Tutorial');
</script>
