<div class="spacer"></div>
<div class="small_spacer"></div>
<div class="container text-center">
<h2><strong>MY PROJECTS</strong></h2>
  <% if user_signed_in? && current_user.editor? %>
    <p><%= link_to 'New Project', new_project_path %></p>
  <% end %>
  <!-- Example row of columns -->
  <div class="row" style="margin: 0 auto;">
  <%- @projects.each do |project| %>
  <%= link_to project, remote: true do %>
    <div class="col-md-4 project-thumbnails">
    <div class="thumbnail-overlay">
    <div class="overlay-text text-center">
    <strong><%= project.technologies_used %></strong>
    </div>
    </div>
      <p><%= image_tag project.thumbnail.url, class: "thumbnail" %></p>
    </div>
    <% end %>
    <div class="project-wrapper <%= project.id %>">
    </div>
  <% end %>
  </div>
  <div class="spacer"></div>
</div>
