<%= render 'projects_header' %>

<div class="services text-center">
  <div class="article">
    <% @projects.each do |project| %>
      <p>
        <h2><%= link_to project.name, project %></h2>
        <h5><%= project.technologies_used %></h5>
      </p>
    <% end %>
  </div>
  <br>
  <% if user_signed_in? && current_user.editor? %>
    <%= link_to 'New Project', new_project_path, class: "button radius yellow-bg new-article" %>
  <% end %>
</div>

<%= render 'layouts/callout' %>
