<%= render 'projects_header' %>

  <div class="services text-center">

    <%= render 'project' %>

    <%= render 'control' %>

    <%= render 'prev_next' %>
  </div>

  <%= render 'layouts/callout' %>
