<h2><%= @project.name %></h2>
<p>Technologies used: <%= @project.technologies_used %></p>

<p><%= link_to 'Edit', edit_project_path(@project) %></p>
<p><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Back', projects_path %></p>
