<div class="grey-bg">
<div class="spacer"></div>
<div class="small_spacer"></div>

<div class="text-center">
<h1 style="font-weight: bold;">MY JOURNAL</h1>
<em>Life Lessons, Day to Day, Random Musings</em>
</div>

<div class="tiny_spacer"></div>
<div class="container">
<div class="white-bg inner-container">

<% if user_signed_in? && current_user.editor? %>
<%= link_to 'New Post', new_post_path %>
<% end %>

    <% @posts.each do |post| %>
      <p><h3><strong><%= link_to post.title, post %></strong></h3></p>
      <p><em>Posted <%= time_ago_in_words(post.created_at) %> ago.</em></p>
      <%= post.content %>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

</div>
</div>
<div class="large_spacer"></div>
</div>
