<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a><%= "#{random_aside}" %></a>
        </li>
        <li class="sidebar-title">
            AMY KANG
        </li>
        <li>
            <%= link_to "HOME", root_path(:anchor => "home"), class: "scroll-div", data: { goal: "home" } %>
        </li>
        <li>
            <%= link_to "PORTFOLIO", projects_path %>
        </li>
        <li>
            <%= link_to "TIPS & TUTORIALS", articles_path, class: "tips-and-tutorials" %>
        </li>
        <li>
            <%= link_to "ABOUT", root_path(:anchor => "about"), class: "scroll-div", data: { goal: "about" } %>
        </li>
        <li>
            <%= link_to "CONTACT", root_path(:anchor => 'contact-info'), class: "scroll-div", data: { goal: "contact-info" } %>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
        <% end %>
    </ul>
</div>
        <!-- /#sidebar-wrapper -->
