<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Amy Kang</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="home">

  <% if current_page?(root_path) %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/alternate' %>
  <% end %>

    <div id="wrapper">

    <%= render 'layouts/sidebar' %>

    <%= yield %>

    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>

<script>
$(document).ready(function(){
  // Google Analytics click event on link to tutorials.
  $('.tips-and-tutorials').click(function(){
    ga('send', 'event', 'link', 'click');
  });
});
</script>
